<!DOCTYPE html>
<html lang="en">
<head>
<title>E-Vekalet | Contacts</title>
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<script type="text/javascript" src="js/jquery-1.4.2.js" ></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/ie6_script_other.js"></script>
<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="page5">
<!-- START PAGE SOURCE -->
<div class="body2">
  <div class="body7">
    <div class="body3">
      <div class="body4">
        <div class="main">
          <div class="body1"></div>
          <header>
            <nav>
              <ul id="menu1">
                <li><a href="index.html">Home</a></li>
                <li><a href="news.html">Ajency</a></li>
                <li><a href="news.html">News</a></li>
                <li id="menu_active"><a href="contacts.html">Contact Us</a></li>
              </ul>
			  <ul id="menu2">
				<li><a href="signin.html">Sign In</a></li>
                <li><a href="joinus.html">join Us </a></li>
			  </ul>
            </nav>
            <div class="search_box">
              <form class="example" action="action_page.php">
                <input type="text" placeholder="what are you looking for?">
                <i class="fa fa-search"></i>
              </form>
            </div>
            <h1><a href="#" id="logo">E-Vekalet</a></h1>
            <style>
              h1 {
                text-shadow: 4px 3px #8a0e0e;

              }
              </style>
          </header>
          <br>
          <br>
          <br>
          <br>
          <section id="content">
            <div class="wrapper">
              <div class="box_shadow">
                <div class="box">
                  <div class="wrapper pad_bot1">
                    <h2>Contact Form</h2>
                    <form id="ContactForm" action="#">
                      <div>
                        <div class="wrapper">
                          <input type="text" class="input" />
                          Your Name:<br/>
                        </div>
                        <div class="wrapper">
                          <input type="text" class="input" />
                          Your E-mail:<br/>
                        </div>
                        <div class="wrapper">
                          <input type="text" class="input" />
                          Your Phone:<br/>
                        </div>
                        <div class="wrapper">
                          <textarea name="textarea" cols="1" rows="1"></textarea>
                          Your Message:<br/>
                        </div>
                        <a href="#" class="link1 right color2">Send</a> <a href="#" class="link1 right color2">Clear</a> </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="wrapper line3">
              <article class="col2 pad_left2">
                <h2>Our Contacts</h2>
                <div class="wrapper">
                  <p class="cols font1"> Country:
                    City:
                    Telephone:
                    Email: 
                  <p> Turkey
                    Karabük
                    <a href="#">zaherto2@gmail.com</a> 
                    <a href="#">ahmethachalil2014@gmail.com</a> </p>
                    <p> +905522172282
                      <br>
                      +905340111082 </p>
                   
                    
                </div>
              </article>
              <article class="col1 pad_left3">
                <h2>Ahmet & Zaher</h2>
                <p>Web Developer</p>
              </article>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="footerlink">
    <p class="lf">Copyright &copy; 2020  </p>
    <div style="clear:both;"></div>
  </div>
</footer>
<!-- END PAGE SOURCE -->
</body>
</html>