<html>
<head>
    <meta charset="UTF-8">
    <title>Join Us| Agency</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/stylein.css" type="text/css" media="all">
</head>
<body>
<div class="wrapper fadeInDown">
<div id="formContent">
<!-- Tabs Titles -->

<!-- Icon -->
<div class="fadeIn first">
    <img src="images/bg_flag.png" alt="Turkey">
<h1>Join Us</h1>
</div>

<!-- Login Form -->
<form>
<input type="text" id="login" class="fadeIn second" name="login" placeholder="E-mail">
<input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
<input type="text" id="login" class="fadeIn second" name="login" placeholder="Confirm Password">
<br>
<br>
<div class="col-75">
    <select id="country" name="country">
      <option value="choose">Choose University </option>
      <option value="registration">1- Düzce University </option>
      <option value="delete">2- Istanbul University </option>
      <option value="break">3- Karabük University </option>
      <option value="transcript">4- Sakraya University </option>
    </select>
  </div>
  <br>
<div class="radio">
    <label><input type="radio" name="gender" value="male"> Male</label>
    <label><input type="radio" name="gender" value="female"> Female</label>
   </div>
<br>
<input type="submit" class="fadeIn fourth" value="Sign Up">
</form>

<!-- Remind Passowrd -->
<div id="formFooter">

</div>

</div>
</div>
</body>
</html>