<html>
    <head>
        <meta charset="UTF-8">
        <title>Sign In | Agency</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/stylein.css" type="text/css" media="all">
    </head>
    <body>
        <div class="wrapper fadeInDown">
            <div id="formContent">

                <!-- Tabs Titles -->

                <!-- Icon -->
                <div class="fadeIn first">
                    <img src="images/bg_flag.png" alt="Turkey">
                    <h1>Sign in</h1>
                </div>

                <!-- Login Form -->
                <form>
                    <input type="text" id="login" class="fadeIn second" name="login" placeholder="E-mail">
                    <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
                    <br>
                    <br>
                    <span class="psw">Forgot <a href="#">password?</a></span>
                    <br>
                    <br>
                    <input type="submit" class="fadeIn fourth" value="Log In">
                </form>

                <!-- Remind Passowrd -->
                <div id="formFooter">
                </div>
            </div>
        </div>
    </body>
</html>