<html>
    <head>
        <meta charset="UTF-8">
        <title>Make Agency</title>
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href={% static "css/stylein.css" %} type="text/css" media="all">
    </head>
    <body>
        <div class="wrapper fadeInDown" style="margin-left: -20px">
            <div id="AgencyFormContent">
            <!-- Tabs Titles -->

                <!-- Icon -->
                <div class="fadeIn first">
                    {% load static %}
                    <img src={% static "images/bg_flag.png" %} alt="Turkey">
                </div>

                {% if messages %}
                    {% for message in messages %}
                        <div style="margin-bottom: 5px; background-color: #fff0f0; color: #9a0822; width:85%; height: 50px; border-radius: 5px; margin-left: 33px; " class="alert alert-{{ message.tags }}" role="alert">
                            <br>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                <!-- Login Form -->
                <form action="" method="post">
                    {% csrf_token %}
                    <h1 style="float: left; margin-left: 20px;">Make Agency</h1>
                    <input type="text" id="login" class="fadeIn second" name="username" placeholder="username">
                    <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
                    <br><br>
                    <span class="psw">Forgot <a href="#">password?</a></span>
                    <br><br>
                    <input type="submit" class="fadeIn fourth" value="Log In">
                </form>

                <!-- Remind Passowrd -->
                <div id="formFooter">
                </div>
            </div>
        </div>
    </body>
</html>