<html>
    <head>
        <meta charset="UTF-8">
        <title>Sign Up Type </title>
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href={% static "css/stylein.css" %} type="text/css" media="all">
    </head>
    <body>
        <div class="wrapper fadeInDown">
            <div id="formContent">
            <!-- Tabs Titles -->

                <!-- Icon -->
                <div class="fadeIn first">
                    {% load static %}
                    <img width="200" height="160" src={% static "images/bg_flag.png" %} alt="Turkey">
                <h1 style="color: #1b3b7b">Choose Sign Up Type</h1>
                </div>

                    {% csrf_token %}
                    <a href="/sginup" class="fadeIn fourth"><button class="btn btn-primary">Student sign Up</button></a>
                    <a href="/admin" class="fadeIn fourth"><button class="btn btn-primary">Academic sign in</button></a>

                <!-- Remind Passowrd -->
                <div id="formFooter">
                </div>
            </div>
        </div>
    </body>
</html>