{% extends "homebase.html" %}

{% block title %} {{ setting.title }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}

{% block content %}
    <body id="page1">
    <!-- START PAGE SOURCE -->
    <div class="body2">
        <div class="body7">
            <div class="body3">
                <div>
                    <div class="main">
                        <section id="content">
                            <div class="wrapper">
                                <div class="box_shadow">
                                    <div class="box">
                                        {% load static %}
                                        <div class="wrapper">
                                            <div>
                                            <h2>Website Information</h2>
                                            <div class="wrapper pad_bot1">
                                                <b style="font-size: 15px;">
                                                    Agency may refer to:
                                                </b>
                                                <ul>
                                                    <li style="font-size: 15px;">- governmental or other institution.</li>
                                                    <li style="font-size: 15px;">- the abstract principle that autonomous beings, agents, are capable of acting by themselves; see autonomy.</li>
                                                </ul>
                                            </div>
                                            <div class="wrapper pad_bot1">
                                                <b style="font-size: 15px;">
                                                    Abstract principle:
                                                </b>
                                                <ul>
                                                    <li style="font-size: 15px;">- Agency (law), a person acting on behalf of another person.</li>
                                                    <li style="font-size: 15px;">- Agency (LDS Church), "the privilege of choice... introduced by God".</li>
                                                    <li style="font-size: 15px;">- Agency (moral), capacity for making moral judgments.</li>
                                                    <li style="font-size: 15px;">- Agency (philosophy), the capacity of an autonomous agent to act, relating to action theory in philosophy.</li>
                                                    <li style="font-size: 15px;">- Agency (psychology), the ability to recognize or attribute agency in humans and non-human animals.</li>
                                                    <li style="font-size: 15px;">- Agency (sociology), the ability of social actors to make independent choices, relating to action theory in sociology.</li>
                                                    <li style="font-size: 15px;">- Agency and structure, ability of an individual to organize future situations and resource distribution.</li>
                                                </ul>
                                            </div>
                                            <div class="wrapper pad_bot1">
                                                <b style="font-size: 15px;">
                                                    Organizations:
                                                </b>
                                                <ul>
                                                    <li style="font-size: 15px;">- Advertising agency, a service business dedicated to creating, planning and handling advertising for its clients.</li>
                                                    <li style="font-size: 15px;">- Employment agency, a business that serves as a representative, acting on behalf of another.</li>
                                                    <li style="font-size: 15px;">- Government agency, a department of a local or national government responsible for the oversight and administration of a specific function.</li>
                                                    <li style="font-size: 15px;">- International agency, an inter-governmental body.</li>
                                                    <li style="font-size: 15px;">- Marketing agency, a service business dedicated to creating, planning and handling marketing for its clients.</li>
                                                    <li style="font-size: 15px;">- News agency.</li>
                                                    <li style="font-size: 15px;">- Talent agency.</li>
                                                    <li style="font-size: 15px;">- The Agency, a nickname for the Central Intelligence Agency.</li>
                                                </ul>
                                            </div>
                                        </div>
                                        </div>
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE SOURCE -->
</body>
{% endblock %}