article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
	display:block;
}
mark, rp, rt, ruby, summary, time {
	display:inline;
}
.left {
	float:left;
}
.right {
	float:right;
}
.wrapper {
	width:100%;
	overflow:hidden;
	
}
body {
	background:#1b3b7b;
	border:0;
	font:12px Arial, Helvetica, sans-serif;
	color:#b8bfcb;
	line-height:18px;
}
.inner_copy, .inner_copy a {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0;
}
.css3 {
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	box-shadow:0 0 4px rgba(0, 0, 0, .4);
	-moz-box-shadow:0 0 4px rgba(0, 0, 0, .4);
	-webkit-box-shadow:0 0 4px rgba(0, 0, 0, .4);
	behavior:url(../js/PIE.htc);
	position:relative;
}
.main {
	margin:0 auto;
	width:1075px;
	position:relative;
}
.body2 {
	background:#0d1e3f;
}
.body3 {
	background:url(../images/bg_flag.png) center 25px no-repeat;
}
.body4 {
	background:url(../images/bg_top.png) top repeat-x;
}
.body7 {

}
a {
	color:#fff;
	text-decoration:underline;
	outline:none;
}
a:hover {
	text-decoration:none;
}
h1 {
	padding:36px 0 0 22px;
}
h2 {
	font:28px "Times New Roman", Times, serif;
	color:#fff;
	line-height:36px;
	padding:3px 0 14px 0;
	letter-spacing:-1px;
}
p {
	padding-bottom:18px;
}
header {
	width:100%;
	overflow:hidden;
	height:214px;
	padding:0 6px;
}
header h1, #page1 header h1 {
	margin:20px 0 0 0px;
	padding:0;
}
header h1 a#logo {
	text-decoration:none;
	font:46px "Times New Roman", Times, serif;

}
header nav {
	width:100%;
	overflow:hidden;
	position:relative;
	z-index:3;
}
#menu1 {
	float:left;
	padding-left:2px;
	background:url(../images/menu_line.jpg) 0 0 no-repeat;
}
#menu1 li {
	float:left;
	background:url(../images/menu_line.jpg) right top no-repeat;
	padding-right:2px;
}
#menu1 li a {
	display:block;
	width:138px;
	font:20px "Times New Roman", Times, serif;
	line-height:78px;
	text-decoration:none;
	text-align:center;
}
#menu1 li a:hover, #menu #menu_active a {
	background:url(../images/menu_active.jpg) top repeat-x;
}
#menu2 {
	margin-left:200px;
	float:left;
	margin-top: 14px;
	background:url(../images/menu_line.jpg) 0 0 no-repeat;
}
#menu2 li {
	float:left;
    border: 5px solid;
	border-color: #ffdada;
	border-style: double;
	border-radius: 10px;
	margin-left: 30px;
    background: white;
    display: inline-block;
    text-align: center;
    background-clip: padding-box;
}
#menu2 li a {
	display:block;
	width:80px;
	font:20px "Times New Roman", Times, serif;
	line-height:40px;
	text-decoration:none;
	text-align:center;
	color:#750b0b;
}
#menu2 li a:hover, #menu #menu_active a {
	background:url(../images/menu_active.jpg) top repeat-x;
	color:white;
}
#content {
	width:100%;
	overflow:hidden;
	padding-bottom:42px;
}
.box_shadow {
	margin:6px 6px 30px 6px;
}
.box {
	background:#f5f6fc;
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	box-shadow:0 0 6px rgba(0, 0, 0, .7);
	-moz-box-shadow:0 0 6px rgba(0, 0, 0, .7);
	-webkit-box-shadow:0 0 6px rgba(0, 0, 0, .7);
	behavior:url(../js/PIE.htc);
	position:relative;
	padding:28px 43px 23px 47px;
	color:#000;
}
.box h2 {
	color:#9a0822;
}
.box .font1 {
	color:#000;
}
.box a {
	color:#9a0822;
}
.box .line1 {
	background:url(../images/line_ver2.gif) 269px 0 repeat-y;
}
.box .line2 {
	background:url(../images/line_ver2.gif) 572px 0 repeat-y;
}
.pad_right {
	padding-right:230px;
	
}
.marg_right1 {
	margin-right:20px;
}
.pad_bot1 {
	padding-bottom:18px;
}
.pad_left1 {
	padding-left:60px;
}
.pad_left2 {
	padding-left:33px;
}
.pad_left3 {
	padding-left:100px;
}
.font1 {
	color:#fff;
	font-weight:bold;
	padding-bottom:6px;
}
.line1 {
	background:url(../images/line_ver1.gif) 565px 0 repeat-y;
}
.line2 {
	background:url(../images/line_ver1.gif) 395px 0 repeat-y;
}
.line3 {
	background:url(../images/line_ver1.gif) 288px 0 repeat-y;
}
.list1 li {
	line-height:20px;
}
#ContactForm {
	line-height:21px;
}
#ContactForm a {
	margin-left:22px;
	margin-right:7px;
	float:right;
	font-weight:bold;
}
#ContactForm .input {
	float:right;
	width:304px;
	height:23px;
	border:1px solid #dcdde2;
	background:#fff;
	padding: 15px;
	margin-bottom:9px;
	color:#000;
	font:12px Arial, Helvetica, sans-serif;
	margin-right:436px;
}
#ContactForm textarea {
	overflow:auto;
	margin-right:7px;
	float:right;
	width:733px;
	height:136px;
	border:1px solid #dcdde2;
	background:#fff;
	padding:2px 5px;
	margin-bottom:9px;
	color:#000;
	font:12px Arial, Helvetica, sans-serif;
}
footer {
	background:url(../images/bg_footer_repeat.gif) top repeat-x;
}
.footerlink {
	position:relative;
	margin:0 auto;
	width:952px;
	height:62px;
	padding:26px 0 0 0;
	color:#c1c8d3;
	background:url(../images/bg_footer.jpg) top center no-repeat blue;
}
.footerlink p {
	margin:0;
	padding:0;
	line-height:normal;
	white-space:nowrap;
	text-indent:inherit;
	color:#c1c8d3;
}
.footerlink a {
	color:#c1c8d3;
	font-weight:normal;
	margin:0;
	padding:0;
	border:none;
	text-decoration:underline;
	background-color:transparent;
}
.footerlink a:hover {
	color:#c1c8d3;
	background-color:transparent;
	text-decoration:none;
}
.footerlink .lf {
	float:left;
	margin-left:55px;
}
.footerlink .rf {
	float:right;
	margin-right:55px;
}
a {
	outline:none;
}
.prenex{
text-align: center;
}
#myInput{
	background-image: url('/css/searchicon.png');
	background-position: 10px 12px;
	background-repeat: no-repeat;
	width: 30%;
	font-size: 16px;
	padding: 2px 8px 2px 16px;
	border: 1px solid #ddd;
	margin-bottom: 0px;
}
.search_box{
	float: right;
	margin-right: 30px;
	width: 25%;
	position: relative;
    
}
.search_box input[type="text"]{
  width: 100%;
  padding: 7px;
  padding-right: 40px;
  box-sizing: border-box;
  background: rgba(0,0,0,0.3);
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 17px;
  color: #fff;
  outline: none;
}

.fa-search{
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  right: 20px;
  color: #fff;
  font-size: 25px;
}
/* style the ajency tab start:*/
* {
	box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
	width: 100%;
	padding: 9px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
  }
  
  label {
	padding: 12px 12px 12px 0;
	display: inline-block;
  }
  
  input[type=submit] {
	background-color: #8a0e0e;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
  }
  
  input[type=submit]:hover {
	background-color: #c24646;
  }
  
  .container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
  }
  
  .col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
  }
  
  .col-75 {
	float: left;
	width: 65%;
	margin-top: 0px;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
	.col-25, .col-75, input[type=submit] {
	  width: 100%;
	  margin-top: 0;
	}
  }
	@media print {
	  body {
		text-shadow: 0px !important;
		box-shadow: 0px !important;
	  }
	  app-root > * {
		display: none;
	  }
	  app-root app-print-layout {
		display: block;
	  }
	  .Print {
		display: none;
	  }

	  footer {
		display: none;
	  }
	  .pagePadding {
		padding: 0px;
	  }
	  .contaner {
		border: 0px;
	  }
	}
  /* finish style the ajency tab start:*/


